
 /*testjosh3*/

#p3-1 {
	border: 5px solid black;
	background-color: #204557;
	margin-bottom: 15px;
	width: 90%;
	height: 150px;
	margin-right: auto;
	margin-left: auto;
	font-family: New Times Roman;
	color: ghostwhite;
}

#p3-1{
	background-color: #224ec7;
	width: 300px;
	height: 300px;
}

#p3-3 {

	background-color: #8d6d94;
}

#p3-4  {
	
	margin-bottom: 20px;
}
/*Responsive Framework.*/
.row {
	width: 100%;
}
/*large View*/
@media (min-width: 1200px){
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 
	{
		float: left;
		border: 1px solid darkcyan;
}
	.col-lg-1 {
		width: 8.33%;
	}
	.col-lg-2 {
		width: 16.66%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33%;
	}
	.col-lg-5 {
		width: 41.66%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.33%;
	}
	.col-lg-8 {
		width: 66.66%;
	}
	.col-lg-9 {
		width: 74.99%;
	}
	.col-lg-10 {
		width: 83.33%;
	}
	.col-lg-11 {
		width: 91.66%;
	}
	.col-lg-12 {
		width: 100%;
	}
}
/*Medium View*/
@media (min-width: 950px) and (max-width: 1199px){
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12
	{
		float: left;
		border: 1px solid darkcyan;
	}
	.col-md-1 {
		width: 8.33%;
	}
	.col-md-2 {
		width: 16.66%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33%;
	}
	.col-md-5 {
		width: 41.66%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.33%;
	}
	.col-md-8 {
		width: 66.66%;
	}
	.col-md-9 {
		width: 74.99%;
	}
	.col-md-10 {
		width: 83.33%;
	}
	.col-md-11 {
		width: 91.66%;
	}
	.col-md-12 {
		width: 100%;
	}
}


/*testjoshcss*/

#p1-1 {
	background-color: darkgoldenrod;
}
img {
	position: relative;
	top: 5px;
	left:500px;
}

#p0 {

	background-color: grey;
	box-sizing: border-box;
	margin:		0;
	padding:	0;

}

#p01{
	background-color: darkcyan;
	box-sizing: border-box;
	margin:		0;
	padding:	0;
	position: relative;
	top: 0px;
	left: 0px;

}
/*testjosh2css*/

#p1	{
		background-color: green;

	}
	#p2 , #p3	{
		background-color: yellow;

	}
	#p1 {
		width: 60px;
		height: 20px;
		border: 1px solid black;
		margin-right: 30px;
		float: left;
		text-align: center;
		

	}
	#p2 {
		width: 72px;
		height: 20px;
		border: 1px solid black;
		margin-right: 30px;
		float: left;
		text-align: center;
		
	}
	#p3 {
		width: 70px;
		height: 40px;
		border: 1px solid black;
		margin-right: 50px;
		float: left;
		text-align: center;
		
	}
  #p4  {
 	width: 900px;
	height: 40px;
 	border: 1px solid black;
	background-color: gold;
	text-align: left;
	position: absolute;
	top:	250px;
	left: 110px;
	

	
}
 #p5  {
 	width: 355px;
	height:165px;
	padding: 25px;
	margin-left: 150px;
 	border: 1px solid black;
	background-color: skyblue;
	text-align: justify-all;
	background-position: center;
		
}

#p6 {

	text-align: center;
	margin-left: 550px;
	width: 100px;
	height: 20px;
	background-color: limegreen;
	
	
}
/*Large*/
@media (min-width:	1200px){
	#p4{
		width:	80%;
	}

	#p5	{
		width:	450px;
		height:	150px;
	}
/* MID */
@media (min-width:	992px) and (max-width: 1199px){
	#p4{
		width:	80%;
	}

	#p5	{
		width:	100px;
		height:	100px;
	}

}